@font-face {
  font-family: 'LuckiestGuy';
  src: url('./fonts/LuckiestGuy-Regular.ttf') format('woff2');
  /* font-weight: 600; */
  font-style: normal;
}

body {
  /* background: #4992d3; */
  background: linear-gradient(40deg, #45cafc, #303f9f);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: LuckiestGuy, Roboto, sans-serif;
  font-size: 24px;
}

h1 {
  position: absolute;
  left: 20px;
  top: 10px;
}

button#restart {
  font-size: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  max-width: 960px;
  margin: 40px auto 0;
  padding: 80px 0 15px;
  position: relative;
}

@media (max-width: 980px) {
  #root {
    margin: 40px 20px 0;
  }
}

#root,
#root:before,
#root:after {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#root:before,
#root:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotateZ(2.5deg);
  z-index: -1;
}

#root:after {
  transform: rotateZ(-2.5deg);
}

#board-wrapper {
  height: 300px;
  width: 300px;
  position: relative;
  margin: 30px 0;
}

#board {
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
}

.square {
  width: 100px;
  /* border: 2px solid #ccc; */
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  user-select: none;
  z-index: 1;
}

#restart {
  display: none;
}

/**
* SVG animation
*/
.svg-x-mark {
  width: 70px;
  height: auto;
  position: absolute;
  opacity: 0;
}

.path-x-1 {
  stroke: #fff;
  stroke-dasharray: 73;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.15s;
}

.svg-x-mark:hover .path-x-1 {
  stroke-dashoffset: 73;
}

.path-x-2 {
  stroke: #fff;
  stroke-dasharray: 67;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.15s 0.15s;
}

.svg-x-mark:hover .path-x-2 {
  /* stroke-dashoffset: 67; */
}

/* O mark */
.svg-o-mark {
  width: 70px;
  height: auto;
  position: absolute;
  opacity: 0;
}

.path-o-mark {
  stroke: #fff;
  stroke-dasharray: 173;
  stroke-dashoffset: 0;
  /* stroke-linecap: round; */
  transition: stroke-dashoffset 0.3s;
}

.svg-o-mark:hover .path-o-mark {
  /* stroke-dashoffset: 173; */
}

/**
* SVG board
*/

#svg-board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: -5px;
  opacity: 0;
  transition: opacity 0.15s;
}

.svg-board-line {
  stroke: #fff;
  stroke-dashoffset: 0;
  stroke-width: 1mm;
}

#svg-board-line1 {
  stroke-dasharray: 94;
  transition: stroke-dashoffset 0.1s 0.3s ease-in-out;
}

#svg-board-line2 {
  stroke-dasharray: 94;
  transition: stroke-dashoffset 0.1s 0.2s ease-in-out;
}

#svg-board-line3 {
  stroke-dasharray: 96;
  transition: stroke-dashoffset 0.1s 0.1s ease-in-out;
}

#svg-board-line4 {
  stroke-dasharray: 96;
  transition: stroke-dashoffset 0.1s ease-in-out;
}
