#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  padding: 0;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 300px;
}

.square {
  width: 100px;
  /* border: 2px solid #ccc; */
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  user-select: none;
  z-index: 1;
}

#restart {
  display: none;
}

/**
* SVG animation
*/
.svg-x-mark {
  width: 70px;
  height: auto;
  position: absolute;
  opacity: 0;
}

.path-x-1 {
  stroke: #fff;
  stroke-dasharray: 73;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.15s;
}

.svg-x-mark:hover .path-x-1 {
  stroke-dashoffset: 73;
}

.path-x-2 {
  stroke: #fff;
  stroke-dasharray: 67;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.15s 0.15s;
}

.svg-x-mark:hover .path-x-2 {
  /* stroke-dashoffset: 67; */
}

/* O mark */
.svg-o-mark {
  width: 70px;
  height: auto;
  position: absolute;
  opacity: 0;
}

.path-o-mark {
  stroke: #fff;
  stroke-dasharray: 173;
  stroke-dashoffset: 0;
  /* stroke-linecap: round; */
  transition: stroke-dashoffset 0.3s;
}

.svg-o-mark:hover .path-o-mark {
  /* stroke-dashoffset: 173; */
}

/**
* SVG board
*/

#svg-board {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 109px;
  left: 50%;
  margin-left: -155px;
  opacity: 0;
  transition: opacity 0.15s;
}

.svg-board-line {
  stroke: #fff;
  stroke-dashoffset: 0;
  stroke-width: 1mm;
}

#svg-board-line1 {
  stroke-dasharray: 94;
  transition: stroke-dashoffset 0.1s 0.3s ease-in-out;
}

#svg-board-line2 {
  stroke-dasharray: 94;
  transition: stroke-dashoffset 0.1s 0.2s ease-in-out;
}

#svg-board-line3 {
  stroke-dasharray: 96;
  transition: stroke-dashoffset 0.1s 0.1s ease-in-out;
}

#svg-board-line4 {
  stroke-dasharray: 96;
  transition: stroke-dashoffset 0.1s ease-in-out;
}
