#game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  #game-status {
    display: flex;
    align-items: flex-start;

    .player-status {
      background-color: #fff;
      border: 0;
      margin-right: 5px;
      min-width: 150px;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
      padding: 0.1rem 0.25rem;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: all 0.3s 0.3s;

      @media only screen and (min-width: 580px) {
        padding: 0.1rem 1.25rem;
      }
    }

    .active {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
      border-bottom-color: #a8e4ef;
    }

    .score {
      float: right;
      color: rgba(12, 84, 96, 0.54);
      margin-left: 20px;
    }

    .tie {
      border-radius: 10px;
      background: #0c5460;
      color: #fff;
      padding: 5px 8px;
      text-align: center;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1;
      margin-right: 5px;

      @media only screen and (min-width: 580px) {
        font-size: 15px;
      }

      .ties-count {
        font-size: 15px;

        @media only screen and (min-width: 580px) {
          font-size: 20px;
        }
      }
    }
  }

  .status-result {
    padding: 0.663rem 1.25rem;
  }

  #board-wrapper {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 30px 0;

    #board {
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0;

      .square {
        width: 100px;
        /* border: 2px solid #ccc; */
        height: 100px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: bold;
        user-select: none;
        z-index: 1;
      }
    }
  }

  #home-button {
    position: absolute;
    top: -70px;
    left: 5px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    width: 45.1px;
    height: 45.1px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @media only screen and (min-width: 580px) {
      top: -65px;
      left: 20px;
      width: 61.1px;
      height: 61.1px;
    }

    i {
      font-size: 1.2rem;
      line-height: 45.1px;

      @media only screen and (min-width: 580px) {
        font-size: 1.625rem;
        line-height: 61.1px;
      }
    }
  }

  #reset-score {
    position: absolute;
    bottom: -14px;
    right: 5px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    width: 45.1px;
    height: 45.1px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    @media only screen and (min-width: 580px) {
      bottom: 0;
      right: 20px;
      width: 61.1px;
      height: 61.1px;
    }

    i {
      font-size: 1.2rem;
      line-height: 45.1px;

      @media only screen and (min-width: 580px) {
        font-size: 1.625rem;
        line-height: 61.1px;
      }
    }
  }

  #restart {
    display: none;
    font-size: 1em;
    position: relative;
    top: 26px;
  }

  .mute-button {
    bottom: -14px;

    @media only screen and (min-width: 580px) {
      bottom: 0;
    }
  }
}

#modalConfirmResetScore {
  position: absolute;
  top: 105px;

  .heading {
    letter-spacing: 2px;
  }
}
