/**
* Winnig line
*/
#win-line1 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}

#win-line2 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}

#win-line3 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}

#win-line4 {
  stroke-dasharray: 132;
  stroke-dashoffset: 132;
  transition: stroke-dashoffset 0.3s;
}

#win-line5 {
  stroke-dasharray: 132;
  stroke-dashoffset: 132;
  transition: stroke-dashoffset 0.3s;
}

#win-line6 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}

#win-line7 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}

#win-line8 {
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  transition: stroke-dashoffset 0.3s;
}
